// Sass variables

$burgundy: #581912;
$offwhite: #fff6f6;


// Sass mixins

// Core styling section

body {
  color: $burgundy;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

// Navbar styling section

.navbar {
  color: $burgundy;
  height: 100%;
  padding: 0;
  position: fixed;
  margin: 0;
  z-index: 5;
}

.sidemenu {
  background-color: rgba(243, 168, 94, 0.9);
  border-right: 0.5px solid $burgundy;
  height: 100%;
  margin: 0;
  position: absolute;
  left: -250px;
  top: 0;
  transition: 0.7s ease;
  padding-left: 5px;
  width: 160px;
  z-index: 3;
}

.showsidemenu {
  transition: 0.7s ease;
  left: 0;
}

// Burger menu styling section

.burger {
  box-shadow: none;
  display: inline-block;
  cursor: pointer;
  height: 45px;
  outline: none !important;
  margin: 20px 15px;
  width: 55px;
  z-index: 6;
  &:focus {
    outline: none !important;
  }
}

.dot {
  background-color: $burgundy;
  height: 5px;
  border-radius: 50%;
  margin: 5px;
  left: 30px;
  position: absolute;
  transition: 0.7s ease;
  z-index: 4;
  width: 5px;
}

.dot1 {
  @extend .dot;
}

.dot2 {
  @extend .dot;
  top: 29px;
}

.dot3 {
  @extend .dot;
  top: 38px;
}

.changedot1 {
  border-radius: 0;
  height: 25px;
  transition: 0.7s ease;
  position: absolute;
  transform: rotateZ(-45deg);
  width: 2px;
}

.changedot2 {
  opacity: 0;
  transition: 0.7s ease;
}

.changedot3 {
  border-radius: 0;
  height: 25px;
  transition: 0.7s ease;
  position: absolute;
  top: 20px;
  transform: rotateZ(45deg);
  width: 2px;
}

.sidelinks h3 {
  font-size: 25px;
  padding: 0 20px;
  margin: 25px auto;

  &:hover {
    opacity: 0.65;
  }
}

.sidelinks {
  margin-top: 70px;
}

// Showcase styling section

.showcase {
  display: flex;
  justify-content: center;
  background-color: $offwhite;
  position: relative;
}

.logowrap img {
  height: auto;
  width: 100%;
}

// Specials styling section

.specialstitle {
  text-align: center;
}

.specialswrap {
  margin: 25px auto;
}

.specialgridwrap {
  border: 0.5px solid $burgundy;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin: auto;
  width: 85%;
}

.topspecialscarousel {
  display: flex;
  transition-duration: 0.6s;
  transform: translate(0px);
  z-index: 4;
}

.special {
  border-left: 0.5px solid $burgundy;
  border-right: 0.5px solid $burgundy;
  display: inline-block;
  padding: 5px 10px;
  margin: 0px 0.5px;
}

.specialimg img {
  height: auto;
  width: 100%;
}

.special1, .special2, .special3, .special4 {
  @extend .special;
}

.arrow {
  position: absolute;
  height: 50px;
  top: 41%;
  width: 25px;
  z-index: 5;
}

.leftarrow {
  @extend .arrow;
  left: 0px;
}

.rightarrow {
  @extend .arrow;
  right: 0px;
}
